<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="./lib/style.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" id="editor">
        <div class="col-12 split">
          <div id="graph">
            <div id="mynetwork"></div>
          </div>
          <div id="block">
            <div id="preview" class="p-1 m-1" v-show="blockSelected" >
              <div v-show="!isEditing" >
                <h2 class="border-bottom">{{ blockData.title }} <button class="btn btn-link" id="edit-button" @click="editPreview">Edit</button>  </h2>
                <div v-html="formatHtml(blockData.preview)"></div>
              </div>
              
              <div id="edit-form" v-show="isEditing">
                <h4>Editing <code >{{blockData.id}}</code> <button type="button"  @click="saveChanges" class="btn btn-link">Save</button></h4>              
                <div class="mb-3">
                  <input type="text" v-model="blockData.title" class="form-control" id="selectedTitle" placeholder="Title" >
                  <!-- @blur="saveChanges" -->
                </div>
                <div class="mb-3">
                  <textarea class="form-control" v-model="blockData.text" id="selectedText" rows="10"></textarea>
                </div>      
              </div>
          </div>
          <div class="row" v-show="!blockSelected">
            <div class="col-md-6 mx-auto mt-3 pt-4 d-flex justify-content-center align-items-center">
                <p class="text-center">Select a block to preview/edit</p>
            </div>
        </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <!-- <script src="./lib/custom-mathjax.min.js" id="MathJax-script" async></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>    <script src="https://unpkg.com/block-page/bundle.js"></script>
    <script src="./lib/network.js"></script>
    <script src="./lib/constants.js"></script>
    <script src="./lib/logic.js"></script>
  </body>
</html>
